$gray-900: #232429;

body {
    background-color: #000 !important;
    background-image: url('/assets/images/bright-squares.png');
}
.row{ --bs-gutter-x: 0 !important;; } /*fixes unnecessary horizontal scrolling*/

.myheadertext{
    position: relative;
    top: 25%;
    z-index: 1;
}
.bg-image:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: initial;
}

.footer { color: white; background-color: black; opacity: 0.8; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
