.gameOnBaner{
  display: block;
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  filter: blur(2px);
}

.coverPosition{
  top: 50px;
}

.gamecover{
  height: 18rem;
}
