<div *ngIf="game">
  <div class="bg-dark text-light">
    <div class="banner mt-3">
      <!-- <img *ngIf="gameScreenshotsUrls" [src]="getBanerImage()" alt="..." class="gameOnBaner"/> -->
    </div>
  </div>
  <div class="bg-dark text-light">
    <mat-card class="gameOnCard item">
      <mat-card-header class="gameOnCardHeader">
          <mat-card-title class="gameOnCardTitle">{{game.name}}</mat-card-title>
      </mat-card-header>
      <!-- <img mat-card-image [src]="getCover()" alt="..." class="gamecover"/> -->
    </mat-card>
  </div>
</div>
