<div class="container-md bg-dark text-light pb-2" >
  <div *ngIf="loadingGames" class="d-flex justify-content-center p-5">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loadingGames" class="row">
  <div class="row pt-3">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Search games</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue">
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="cancelSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Search" (click)="searchGames()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 p-2" *ngFor='let game of games' (click)="selectGame(game)">
      <mat-card class="gameOnCard item">
        <mat-card-header class="gameOnCardHeader">
            <mat-card-title class="gameOnCardTitle text-center">{{game.name}}</mat-card-title>
        </mat-card-header>
        <img *ngIf="game.cover && gameCovers" mat-card-image [src]="gamesService.getGameCoverByIdFromList(game.cover, gameCovers)" alt="..." class="gamecover"/>
      </mat-card>
  </div>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>
  </div>
</div>
