input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.gameOnCard{
  border-radius: 0px;
  padding-bottom: 0px;
}

.gameOnCardHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.gameOnCardTitle{
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gamecover{
  height: 18rem;
}

.item:hover{
  background-color: #000;
  opacity: 0.8;
  cursor: pointer;
}

