@use '@angular/material' as mat;

$my-palette: mat.$purple-palette;

.navBar {
  background-color: mat.get-color-from-palette($my-palette, 500) !important;
}

.navItems{
  font-weight: bolder;
  align-items: center;
  width: 80%;
}

.activeRoute {
  text-decoration: none;
  color: white;
  background: rgba(black, 0.2);
  font-weight: bold;
}

.gameOnRoute:hover {
  color: white;
  // background-color: rgba(black, 0.5);
}


