<div class="d-flex navBar justify-content-center text-light">
  <div class="d-flex flex-row justify-content-between navItems">
    <div class="d-flex flex-row align-items-center">
      <a routerLink="/games" class="text-decoration-none text-light"><app-logo></app-logo></a>
      <div>
        <a class="gameOnRoute" routerLink="/games" routerLinkActive="activeRoute" ariaCurrentWhenActive="page" mat-button>
            <mat-icon>videogame_asset</mat-icon>
            <span class="ms-2">Games</span>
        </a>
        <a class="gameOnRoute" routerLink="/favorites" routerLinkActive="activeRoute" ariaCurrentWhenActive="page" mat-button>
            <mat-icon>star</mat-icon>
            <span class="ms-2">Favorites</span>
        </a>
      </div>
    </div>
    <div>
      <button mat-button class="gameOnRoute" (click)="authService.logout()">
        <mat-icon>arrow_right_alt</mat-icon>
        <span class="ms-2 text-light">Logout</span>
      </button>
    </div>
  </div>
</div>
